.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.w-full{
  width: 100%;
}
.form{
  max-width: 600px;
  min-width: 300px;
}


.ColoredLight {
  background-color: #5ba5f5;
  color: rgb(252, 247, 232);
}

.ColoredDark {
  background-color: #1f1f20 !important;
  color: rgb(252, 247, 232);

}

.nav-link.ColoredLight {
  background-color: #5ba5f5;
  color: rgb(252, 247, 232);

  margin-right: 6px;
}

.nav-link.ColoredDark {
  background-color: #1f1f20 !important;
  color: rgb(252, 247, 232);
}


.nav-link.ColoredLight:hover {
  color: rgb(252, 247, 232);
  /* Ensure color remains white */
}

.nav-link.ColoredDark:hover {
  color: rgb(252, 247, 232);
  /* Ensure color remains white */
}

.nav-link.ColoredLight:focus {
  color: rgb(241, 238, 228)
     /* Ensure color remains white */
}

.nav-link.ColoredDark:focus {
  color: rgb(203, 200, 191);
  /* Ensure color remains white */
}


.ColoredLight .MuiIconButton-root {
  color: rgb(252, 247, 232);
}

.ColoredDark .MuiIconButton-root {
  color: rgb(252, 247, 232);
}